<style>
	.cover-image {
		width: 100%;
		height: 40%;
		z-index: -1;
		position: absolute;
	}
	.page.container {
		width: 80%;
	}
	.tabs .tab a.active {
        color: #ef5350 !important;
    }
    .tabs .tab a {
        color: #757575 !important;
    }
    .tab-content {
    	margin-left: 30%;
    }
    .tab-header {
    	font-size: 120%;
    }
    .collapse-section {
    	margin-top: 11%;
    }
	.package-info {
    	margin-top: 25%;
    }
    .package-header {
    	float: right;
    }
    .left-section {
    	float:left;
    	width: 30%;
    }
    .payment-selector select {
        font-size: 16px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        height: 45px;
        border: 0px;

        padding: 10px;
        margin: 8px 0;
        border-bottom: 1px solid black !important;
    }
    .payment-selector:after {
        content: '\f0dd';
        font: normal normal normal 15px/1 FontAwesome;
        float:left;
        margin-top: -14%;
        margin-left: 8%;
    }
    .currency-selector {
    	width: 30%;
    	float: left;
    }
    .pay-total {
    	float: right;
    }

	.payment-slider input[type=range]::-webkit-slider-thumb {
		background-color: #ef5350;
	}
	.payment-slider input[type=range]::-moz-range-thumb {
		background-color: #ef5350;
	}
	.payment-slider input[type=range]::-ms-thumb {
		background-color: #ef5350;
	}

	.payment-slider input[type=range] + .thumb {
		background-color: #dedede;
	}
	.payment-slider input[type=range] + .thumb.active .value {
		color: #ef5350;
	}

	.all-posts ul{
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    position: relative;
	    top:0
	}

	.all-posts ul:last-of-type {
		top:60px;
	}

	.all-posts ul:before{
	    content: "";
	    display: block;
	    width: 0;
	    height: 120%;
	    border:1px solid #bdbdbd;
	    position: absolute;
	    top:-10%;
	    right:-30px
	}

	.all-posts ul li{
	    position: relative;
	    margin-top: 20%;
	    line-height: 20px;
	}


	.all-posts ul li > span{
	    content: "";
	    display: block;
	    width: 0;
	    height: 100%;
	    position: absolute;
	    top:-25%;
	    right:-30px
	}

	.all-posts ul li > span:before {
		top:-10px;
	}

	.all-posts ul li > span:after {
		top:95%;
	}

	.all-posts .date span{
	    position: absolute;
	    right: 20px;
	    font-size:80%;
	    font-weight: bold;
	    color: #424242;
	}

	.date span:after {
	    content: "";
	    display: block;
	    width: 10px;
	    height: 10px;
	    border-radius: 50%;
	    background:#eeeeee;
	    border:1px solid #9e9e9e;
	    position: absolute;
	    right:50px
	}

	.date span:before {
	    content: "";
	    display: block;
	    width: 100px;
	    height: 0px;
	    border-bottom:1px solid #9e9e9e;
	    position: absolute;
	    right:-50px;
	    top: 25px;
	}

	.post-section {
		padding-bottom: 10%;
		margin-top:10px !important;
	}
	.all-posts ul::before {
		top: -2%;
		height: 99%;
	}

	.overview-section {
		position: absolute;
		margin-top: -5%;
	}

	.overview {
		min-height: 250px;
	}

	.share-btn {
		margin-top: -8%;
	}
	.share-btn button {
		width: 100%;
	}
    .shift-left {
    	margin-right: 20%;
    }
    .shift-up {
    	margin-top: -15%;
    }
    .fullscreen-modal {
        width: 100%;
        max-height: 100%;
        height: 100%;
        top: 0 !important;
    }
    .facebook {
        color: #01579b;
    }

    .twitter {
        color: #00aced;
    }
    .btn-font {
    	font-size: 75%;
    }
    .background-grey {
    	background-color: #e0e0e0;
    }
    .background-grey:after {
    	background-color: #ffffff;
    }
    .circle-loader.c100 > span {
    	top: -10%;
    }
    #faq-section.collapsible {
    	border: 0;
    	webkit-box-shadow: 0 !important;
		box-shadow: unset !important;
    }
    .comment-card .row {
    	margin-bottom: 0px;
    }
    .comment-card.card-content {
    	padding-right: 50px !important;
    	padding-top:0 !important;
    	padding-left:0 !important;
    	padding-bottom:0 !important;
    }
    .user-circle {
      	width: 50px;
      	height: 50px;
      	-webkit-border-radius: 25px;
      	-moz-border-radius: 25px;
      	border-radius: 25px;
      	background: #ef5350;
      	position: absolute;
		right: -25px;
		line-height: 50px;
  		text-align: center;
    }
    .card.vertical-align {
    	display: grid;
    }


	.circle-top {
	    content: "";
	    display: block;
	    width: 10px;
	    height: 10px;
	    border-radius: 50%;
	    background:#eeeeee;
	    border:1px solid #9e9e9e;
	    position: absolute;
	    top:-35px;
	    right:-34px;
	}

.badge-custom {
   position:relative;
}
.badge-custom[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:0px;
   right:0px;
   font-size:.8em;
   background-color: transparent;
   color:#ef5350;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
}
</style>
{{> startfile}}
    {{> header}}
    <div>
    	<div>
	    	<img class="cover-image" src= {{data.cover_picture}}>
		    <div id="" class="section row">
		    	<div class="page-title col s5 rtl offset-s6">
			    	<h4 class="right white-text">
			    		<span class="text-style">
			    			{{data.name}}
			    		</span>
			    		{{data.tagline}}
			    	</h4>
			    </div>
		    </div>
		    
		    <div class="row page container">
				<div class="col s3 left overview-section">
					<div class="card">
				        <div class="card-content">
				        	<div class="section">
							    <div class="circle-loader c100 p73 big center custom-color background-grey">
							    	<span class="black-text thick">73<span style="font-size: 50%;">%</span><div class="grey-text center" style="font-size: 30%; margin-top: -80%;">Of Target Raised</div></span>
				                    <div class="slice flip">
				                        <div class="bar"></div>
				                        <div class="fill"></div>
				                    </div>
				                </div>
							  	<div class="center row">
							  		<span class="grey-text"><span class="text-style thick">$19,300</span> of $25,250</span>
							  	</div>
					        </div>
					        <div class="divider"></div>
					        <div class="section center">
					        	<div>
					        		<i class="material-icons text-style">group</i>
						        	<h6 class="grey-text">Contributors<span>:&lrm;</span></h6>
						        	<spam>{{data.sponsors}}</spam>
						        </div>
					        </div>
					        <div class="divider"></div>
					        <div class="section center">
					        	<div>
					        		<i class="material-icons text-style">music_note</i>
					        		<h6 class="grey-text">Category<span>:&lrm;</span></h6>
					        		<spam>{{data.category.type}}</spam>
					        	</div>
					        </div>
					        <div class="divider"></div>
					        <div class="section center">
					        	<div>
					        		<h6 class="grey-text">Elsewhere</h6>
					        	</div>
					        	<div>
					        		<button class="btn-flat waves-effect">
					        			<i class="material-icons text-style">web</i>            
					        		</button>
					        		<button class="btn-flat waves-effect">
					        			<i class="fa fa-youtube-play text-style"></i>
					        		</button>
					        		<button class="btn-flat waves-effect">
					        			<i class="fa fa-instagram text-style"></i>
					        		</button>
					        		<button class="btn-flat waves-effect">
					        			<i class="fa fa-twitter text-style"></i>
					        		</button>
					        		<button class="btn-flat waves-effect">
					        			<i class="fa fa-facebook-square text-style"></i>
						        	</button>
						        </div>
					        </div>
				        </div>
				    </div>
				    <div class="card">
				        <div class="card-content">
					        <div class="section center">
					        	<button
					        		class="btn-large red lighten-1 waves-effect waves-light modal-trigger"
					        		href="#modalCheckout"
					        		onClick="selectedValue=null;document.getElementById('card-1').style.display='block';"
					        	>
					        		Sponser This Creator
					        	</button>
					        </div>
				        </div>
				    </div>
				</div>
				<div class="col video-intro right">
					{{#if data.video}}
						<video width="640" height="360" controls>
							<source src={{data.video}} type="video/mp4" />
						</video>
					{{else}}
						<img width="640" height="360" src={{data.profile}}>
					{{/if}}
				</div>
			</div>
			<div class="row page container">
				<div class="col s7 offset-s5">
					<div class="section overview">
						<p class="rtl">
							{{data.overview}}
						</p>
					</div>
					<div class="divider"></div>
					<div class="section">
		        		<a class="col btn-flat waves-effect btn-font modal-trigger" href="#copyLink-modal" onClick="document.getElementById('copy-link').value=window.location.href;">
		        			<i class="material-icons text-style grey-text text-darken-1 left">link</i>
		        			<spam>Copy Link</spam>
		        		</a>
		        		<a class="col btn-flat waves-effect btn-font" href="" onClick="this.href='https://twitter.com/share?url='+window.location.href; return true;">
		        			<i class="fa fa-twitter-square twitter left"></i>
		        			<spam>Twitter</spam>
		        		</a>
		        		<button class="col btn-flat waves-effect btn-font">
		        			<i class="fa fa-comment facebook left"></i>
		        			<spam>Messenger</spam>
		        		</button>
			        	<a class="col btn-flat waves-effect btn-font" href="" onClick="this.href='https://www.facebook.com/sharer.php?u='+window.location.href; return true;">
		        			<i class="fa fa-facebook-square facebook left"></i>
		        			<spam>Facebook</spam>
			        	</a>
		        		<spam class='col rtl right grey-text'>Share This Page</spam>
			        </div>
				</div>
			</div>
	    </div>
	    <div class="row container page">
		    <div class="right">
		      	<ul class="tabs">
			        <li class="tab"><a href="#faqs">FAQs</a></li>
			        <li class="tab"><a href="#comments" class="badge-custom" data-badge="5">Supporters Feedback</a></li>
			        <li class="tab"><a href="#updates" class="badge-custom" data-badge="2">Updates</a></li>
			        <li class="tab"><a class="active" href="#overview">Overview</a></li>
		      	</ul>
		    </div>
		</div>
	</div>
	<div class="grey lighten-3">
		<div class="container page row">
			<div class="left-section">
				<br>
		    	<div class="package-header">
		    		<h5>Sponsership Packages</h5>
		    	</div>
			    {{#each data.rewards}}
				    <div class="card package-info">
				        <div class="card-content">
				        	<div class="section">
					        	<h6 class="left">{{this.price}}</h6>
					        	<h6 class="right">{{this.title}}</h6>
					        </div>
					        <div class="section">
					        	<div class="card-image">
						        	<img src={{this.img}}>
						        </div>
						        <br>
						        <p class="rtl">{{this.description}}</p>
					        </div>
					        <div class="section">
					        	<button
					        		class="btn-flat right red-text waves-effect text-lighten-1 modal-trigger" 
					        		value='{{@index}}'
					        		href="#modalCheckout"
					        		onClick="document.getElementById('selectedCard').appendChild(
								    			document.getElementById('card'+this.value)
								  			);
								  			document.getElementById('card'+this.value).className += ' selected';
								  			selectedValue=this.value;document.getElementById('card-1').style.display='none';"
					        	>
					        		Sponser
					        	</button>
					        </div>
				        </div>
				    </div>
				{{/each}}
			</div>
			<div class="tab-content">
				<div id="overview">
			    	<br>
			    	<div class="text-align-right">
			    		<h5>Overview</h5>
			    	</div>
			    	<div class="section col s9 offset-s3">
			    		<p class="rtl">
							{{data.overview}}
						</p>
					</div>
				</div>
				<div id="faqs">
			    	<br>
			    	<div class="right">
			    		<h5>FAQs</h5>
			    	</div>
			    	<div id="faq-collapse" class="collapse-section col s9 offset-s3" style="margin-top: 2% !important;">
				    	<ul id="faq-section" class="collapsible">

						    <li>
						      	<div class="collapsible-header grey lighten-3">
						      		<i class="material-icons text-style">add_circle_outline</i>
						      		First
						      	</div>
						      	<div class="collapsible-body grey lighten-3">
						      		<span class="right">Lorem ipsum dolor sit amet.</span>
						      	</div>
						    </li>

						</ul>
					</div>
				</div>
			    <div id="updates">
			    	<br>
			    	<div class="text-align-right">
			    		<h5>Updates</h5>
			    	</div>
			    	<br>
		    		<div class="all-posts">
						<ul>
						<span class="circle-top"></span>
						{{#each data.posts}}
							<li class ="post-section">
								<span></span>
								<div class="date">
									<span>JUN, 17<sup>th</sup></span>
								</div>
								<div class="section">
									<div class="text-align-right">
										<br>
						        		<h5>{{this.title}}</h5>
						        		<img src="../nightlife_5.jpeg">
						        		<br>
						        		<p>{{this.body}}</p>
						        	</div>
							    </div>
							</li>
						{{/each}}
						</ul>
					</div>
			    </div>
			    <div id="comments">
			    	<br>
			    	<div>
			    		<h5 class="right">Comments</h5>
			    	</div>
			    	<div>
				    	<div class="card col s9 offset-s2 vertical-align">
					        <div class="card-content comment-card">
						        <div class="section row">
						        	<div class="grey-text col s6">30th Oct 2017</div>
						        	<div class="text-align-right col s6">Phil</div>
						        </div>
						        <div class="section row">
						        	<div class="text-align-right col s12">"Lorem ipsum dolor sit amet, consectetur adipiscing elit"</div>
						        </div>
					        </div>
					        <div class="user-circle white-text center">PC</div>
					    </div>
					</div>
			    </div>
			</div>
		</div>
	</div>
	<div id="modalCheckout" class="modal fullscreen-modal">
		{{> checkout}}
	</div>
	<div id="copyLink-modal" class="modal">
	    <div class="container page">
			<div class="section row">
				<div class="modal-close btn-flat left">
					<i class="fa fa-times-circle"></i>
					<span>Close</span>
				</div>
	    	</div>
	    	<div class="section row">
	    		<div class="input-field">
	                <input id="copy-link" value="" type="text" readonly>
	            </div>
	        </div>
	  	</div>
	</div>
    {{> footer}}
{{> endfile}}