{{> startfile}}
        {{> header}}
        <br>
        <br><br><br><br>
        <p>{{data.name}}</p>
        <p>{{data.description}}</p>
        {{data.profile_picture}}
        {{data.cover_picture}}
        {{data.intro_video}}
        {{> footer}}
{{> endfile}}