<style>
    .custom-chip {
    	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    	border-bottom: solid white !important;
    }
    .custom-chip .card-content .card-end .category{
    	color: #757575;
    }
    .active-chip {
    	cursor: pointer;
    	border-bottom: solid #ef5350 !important;
    }
    .active-chip .card-content .card-end .category{
    	color: black;
    }
    .thick {
        font-weight: bold;
    }
    .explore-search {
    	margin-top: 0 !important;
    	margin-bottom: 0 !important;
    }
    .explore-search input {
       border-bottom: 0px !important;
    }
    .middle {
    	margin-top: 15px;
    }
    .card-chips span .card {
    	margin: 1.5% !important;
    	cursor: pointer;
    }
    .card-chips span .card .card-content {
    	padding: 5px;
    }
    .pages .page {
    	display: none;
    }
    .pages .page.active_page {
    	display: block;
    }

</style>
<script>
	var categoryArr = [];
	function selectChip(card) {
		if (card.className.includes("custom")) {
			card.className = "card col s2 active-chip";
			categoryArr.push(card.id);
		} else {
			card.className = "card col s2 custom-chip";
			var index = categoryArr.indexOf(card.id);
			if (index > -1) {
			  categoryArr.splice(index, 1);
			}
		}
		$.ajax({
          url: '/getCreatorsWithCategories',
          data: {categories : categoryArr},
          dataType: "json",
          type: 'GET'
        }).success(function(data){
          console.log("DATA:");
          console.log(data);
        });
	}
	function turnOffActive(ele) {
		ele.className = ele.className.replace("active","waves-effect");
	}
	function setActive(ele) {
		ele.className = ele.className.replace("waves-effect","active");
	}
	function checkPageDownUp(num) {
		return [document.getElementById('page_button'+(num-1)), document.getElementById('page_button'+(num+1))];
	}
	function setLeftRight(arr) {
		if(arr[0]==null) {
			document.getElementById("pageDown_button").className= "pageDown_button disabled";
		} else {
			document.getElementById("pageDown_button").className= "pageDown_button waves-effect";
		}

		if(arr[1]==null) {
			document.getElementById("pageUp_button").className= "disabled";
		} else {
			document.getElementById("pageUp_button").className= "waves-effect";
		}
	}
	function updateActivePage(num){
		var actPage = document.getElementsByClassName('page active_page')[0];
		document.getElementById('page'+num).className = 'page active_page';
		actPage.className = 'page';
	}
	function pageUp(obj) {
		if (obj.className.indexOf("disabled") < 0) {
			var actEle = document.getElementsByClassName('page_button active')[0];
			turnOffActive(actEle);
			var currActiveNum = Number(actEle.id.replace('page_button',''))+1;
			setLeftRight(checkPageDownUp(currActiveNum));

			setActive(document.getElementById(actEle.id.replace(/.$/,currActiveNum)));
			updateActivePage(currActiveNum);
		}
	}
	function pageDown(obj) {
		if (obj.className.indexOf("disabled") < 0) {
			var actEle = document.getElementsByClassName('page_button active')[0];
			turnOffActive(actEle);
			
			var currActiveNum = Number(actEle.id.replace('page_button',''))-1;
			setLeftRight(checkPageDownUp(currActiveNum));

			setActive(document.getElementById(actEle.id.replace(/.$/,currActiveNum)));
			updateActivePage(currActiveNum);

		}
	}
	function thisPage(obj) {
		if (obj.className.indexOf("active") < 0) {
			var actEle = document.getElementsByClassName('page_button active')[0];
			turnOffActive(actEle);
			
			var currActiveNum = Number(obj.id.replace('page_button',''));
			setLeftRight(checkPageDownUp(currActiveNum));

			setActive(obj);
			updateActivePage(currActiveNum);

		}
	}
</script>
{{> startfile}}
    {{> header}}
    <div>
    	<div>
		    <div class="container">
		    	<div class="section">
		    		<div class="row">
		    			<h5 class="center thick">This Week's Suggested Artists</h5>
		    		</div>
		    		<div class="row">
		    			<div id="explore-carousel" class="owl-carousel owl-theme">
						  	<div>
								{{>explorepage/featuredcreator}}
						  	</div>
						  	<div>
								{{>explorepage/featuredcreator}}
						  	</div>
						  	<div>
								{{>explorepage/featuredcreator}}
						  	</div>
						</div>
		    		</div>
		    		<div class="row">
		    			<h6 class="center thick">{{__ 'Explore Creators Worth Sponsering'}}</h6>
		    		</div>
		    		<div class="row card-chips">
		    			<span>
							<div id="1" class="card col s2 custom-chip" onClick="selectChip(this)">
							    <div class="card-content">
							        <div class="section row card-end">
							            <div class="center category">
							            	Music
							            </div>
							    		<div class="text-style center">
							    			{{getNumberCreators 1 creators}} Creators
							            </div>
								    </div>
							    </div>
							</div>
						</span>
						<span>
							<div id="2" class="card col s2 custom-chip" onClick="selectChip(this)">
							    <div class="card-content">
							        <div class="section row card-end">
							            <div class="center category">
							            	Technology
							            </div>
							    		<div class="text-style center">
							    			{{getNumberCreators 2 creators}} Creators
							            </div>
								    </div>
							    </div>
							</div>
						</span>
						<span>
							<div id="3" class="card col s2 custom-chip" onClick="selectChip(this)">
							    <div class="card-content">
							        <div class="section row card-end">
							            <div class="center category">
							            	Art
							            </div>
							    		<div class="text-style center">
							    			{{getNumberCreators 3 creators}} Creators
							            </div>
								    </div>
							    </div>
							</div>
						</span>
						<span>
							<div id="4" class="card col s2 custom-chip" onClick="selectChip(this)">
							    <div class="card-content">
							        <div class="section row card-end">
							            <div class="center category">
							            	Podcasts
							            </div>
							    		<div class="text-style center">
							    			{{getNumberCreators 4 creators}} Creators
							            </div>
								    </div>
							    </div>
							</div>
						</span>
						<span>
							<div id="5" class="card col s2 custom-chip" onClick="selectChip(this)">
							    <div class="card-content">
							        <div class="section row card-end">
							            <div class="center category">
							            	Comedy
							            </div>
							    		<div class="text-style center">
							    			{{getNumberCreators 5 creators}} Creators
							            </div>
								    </div>
							    </div>
							</div>
						</span>
		    		</div>
		    	</div>

		    </div>
	    </div>
	    <div class="grey lighten-3">
		    <div class="container">
		    	<div class="section">
		    		<div class="row">
					  <div>
					  	<div class="input-field col s3 explore-search">
					    	<select>
						    	<option value="1">{{__ 'Popularity of Creator'}}</option>
						    	<option value="2">{{__ 'Date'}}</option>
					    	</select>
					  	</div>
					  	<span class="text-style right thick middle">{{creators.length}} {{__ 'Creators Found'}}</span>
					  </div>
		    		</div>
		    		<div class="row pages">
						{{#each (renderPage creators) }}
							<div id='page{{@index}}' {{{setAsActivePage @index}}}>
								{{#each this}}
									<div class="row">
										{{#each this}}
											<div class="col s4" href="creators/{{username}}">
												{{>creatorcard this}}
											</div>
										{{/each}}
									</div>
								{{/each}}
							</div>
						{{/each}}
			    	</div>
			    	<div class="row center">
					  	<ul class="pagination">
						    <li id="pageDown_button" class="disabled" onClick="pageDown(this)"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
						    {{{calcNumPages creators}}}
						    <script>
								document.getElementById('page_button0').className ='page_button active';
							</script>
						    <li id="pageUp_button" class="waves-effect" onClick="pageUp(this)"><a><i class="material-icons">chevron_right</i></a></li>
					  	</ul>
			    	</div>
		    	</div>
		    </div>
	   </div>
    </div>
    {{> footer}}
{{> endfile}}