<style>
	.underlined-text {
		border-bottom: 1px solid black;
		padding-bottom: 10px;
	}
	h2.header {
	    margin: 0;
	    padding-top: 100px;
	}
	.carousel-slider {
    	width: 600px !important;
	}
	.carousel-container {
		position: absolute;
		z-index: -1;
	}
	.bgtext:after {
		content: "About Us";
		position: absolute;
		top: 0;
		z-index: -1;
		left: 30%;
		font-size: 400%;
		color: #e0e0e0;
		margin-top: -1%;
	}
	.about-section {
		position: relative;
	}
	.email-input {
		padding-bottom: 50px;
	}
	.demo {
		width: 80%;
	}
	.carousel-container {
		width: 80% !important;
	}
	.tabs .tab a.active {
        color: #ef5350;
    }
    .tabs .tab a {
        color: #424242;
    }
    .tab-section {
    	padding-top: 10px;
    }
    .tab-content .container {
    	width: 85% !important;
    }  
    .lower-border {
    	border-bottom: solid #e0e0e0;
    	border-width: thin;
    }
	.wide {
		width: 100%;
	}
	[type="checkbox"].filled-in:checked + span:not(.lever)::after {
		background-color: #ef5350 !important;
		border: #ef5350 !important;
	}
	.email-input ::placeholder {
		text-align: right;
	}
    .circle-fees.c100 > span {
    	top: -25%;
    }
    .hompage-image {
    	width: 100%;
    }
    .sales {
    	padding-left:5% !important;
    	padding-right:5% !important;
    }
</style>

{{> startfile}}
    {{> header}}
	{{#if user}}
    	<div class="grey lighten-3">
		    <div class="tab-section lower-border">
			    <div class="center">
			      	<ul class="tabs grey lighten-3">
				        <li class="tab"><a class="active" href="#news">News Feed</a></li>
				        <li class="tab"><a href="#support">Artist Support</a></li>
				        <li class="tab"><a href="#settings">Account Settings</a></li>
			      	</ul>
			    </div>
			</div>
			<div class="tab-content">
				<div id="news" class="container row">
					{{>homepage/newsfeed}}
				</div>
				<div id="support" class="container row">
					{{>homepage/support}}
				</div>
				<div id="settings" class="container row">
					{{>homepage/settings}}
				</div>
			</div>
    	</div>
    {{else}}
		<div>
		    <div class="section row intro-section" style="padding:0px !important;margin-bottom: 5%;">
		    	<div class="col s12" style="padding:0px !important;">
		    		<img class="hompage-image" src="../homepage-image.jpg">
		    	</div>
		    	<div class="col offset-s6" style="position: absolute; z-index: 1;">
		    		<h2 class="text-style rtl header">{{__ 'We Help Artists Like You'}}</h1>
		    		<h2 class="text-style rtl">{{__ 'Get Paid For Their Work'}}</h2>
		    		<br>
		    		<h5 class="rtl">It's Free To <span class="underlined-text">Sign Up</span> & Really Easy to Use</h5>
		            <br>
		            <br>
		            <br>
		            <div class="row email-input">
					   <form class="col s12">
					       <div class="row vertical-align">
					           <div class="input-field col s3">
					               <button class="btn-large red lighten-1 waves-effect waves-light modal-trigger" href="#modalSignup" type="submit">{{__ 'Sign Up'}}</button>
					           </div>
					           <div class="input-field col s8">
					           		<input
		                                class="rtl email-input"
		                                id="email"
		                                name="email"
		                                type="email"
		                                placeholder="Lets start with your email...&lrm;"
		                                onchange="this.setCustomValidity(if(this.checkValidity()) form.email-confirm.pattern = this.value;"
		                                required
		                            >
					           </div>
					           <i class="material-icons">mail</i>
					       </div>
					   </form>
					</div>
		    	</div>
		    </div>
		    <div class="section row about-section">
		    	<h4 class="center bgtext">{{__ 'Why Choose BackStage'}}</h4>
		    	<br>
		    	<br>
		    	<br>
		    	<div class="promo col s10 offset-s1">
				    <div class="center col s4 sales">
				        <i class="material-icons red-text text-lighten-1 large">attach_money</i>
				        <h6 class="text-style">Sales Point</h6>
				        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				    </div>
				    <div class="center col s4 sales">
				      	<i class="material-icons red-text text-lighten-1 large">group</i>
				        <h6 class="text-style">Sales Point</h6>
				        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				    </div>
				    <div class="center col s4 sales">
				      	<i class="material-icons red-text text-lighten-1 large">settings</i>
				        <h6 class="text-style">Sales Point</h6>
				        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				    </div>
				</div>
		    </div>
		    <div class="section row fees-section">
		    	<div class="col s6" style="height: 240px; margin-top:20%;">
	        		<div class="c100 p93 big-homepage center custom-color white circle-fees">
	        			<span class="green-text text-accent-3"><span style="font-size: 30%;">3%</span><div class="grey-text center" style="font-size: 30%; margin-top: -92%;">BackStage Fee</div></span>
	        			<span class="blue-grey-text text-darken-4" style="margin-top: 22%;"><span style="font-size: 30%;">4%</span><div class="grey-text center" style="font-size: 30%; margin-top: -92%;">Transaction Fee</div></span>
	        			<span class="text-style" style="margin-top: 44%;"><span style="font-size: 30%;">93%</span><div class="grey-text center" style="font-size: 30%; margin-top: -92%;">You Keep</div></span>
	                    <div class="slice">
	                        <div class="bar"></div>
	                        <div class="fill"></div>
	                    </div>
	                </div>
	                <div class="c100 p7 big-homepage center custom-blue circle-fees" style="background-opacity: 0;">
	                    <div class="slice flip" style="top:-100%;">
	                        <div class="bar"></div>
	                        <div class="fill"></div>
	                    </div>
	                </div>
	        		<div class="c100 p3 big-homepage center custom-green circle-fees" style="background-opacity: 0;">
	                    <div class="slice flip" style="top:-200%;">
	                        <div class="bar"></div>
	                        <div class="fill"></div>
	                    </div>
	                </div>

		    	</div>
		    	<div class="col s6" style="padding-right:0;">
		    		<div>
		    			<img class="hompage-image" src="../homepage-image.png">
		    		</div>
		    	</div>
		    	<div class="col s4 offset-s7" style="position: absolute; z-index: 1; margin-top: 15%;">
		    		<h3 class="red-text text-lighten-1 rtl">BackStage Fees</h3>
		    		<p class="rtl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lrm;</p>
		    		<p class="rtl">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lrm;</p>
		    		<div class="right">
		    			<a class="btn-large waves-effect waves-light" style="background-color: rgba(0, 0, 0, 0); border: 1px solid white;" href="/explore">Explore Artists</a>
		    			<a class="btn-large white waves-effect blue-grey-text text-darken-4 modal-trigger" href="#modalSignup">Sign up</a>
		    		</div>
		    	</div>
		    	<div class="center col s6">
		    	</div>
		    </div>
		</div>
		{{>recommended}}
		<div style="background-image: url('../band.jpg');background-size: 100%;">
		    <div class="center" style="margin:10%;">
				<h3 class="white-text" style="text-shadow: 1px 1px 2px black; margin:3%;">Start Getting Paid Today</h3>
				<button class="thick btn-large red-text text-lighten-1 white waves-effect waves-light modal-trigger" href="#modalSignup">Sign Up Today</button>
			</div>
		</div>
		<div id="modalSignup" class="modal">
        	{{> signup registrationType=true }}
    	</div>
    	<div id="msgModal" class="modal msgModal">
    		<h5 class="center">{{msg}}</h5>
    		<div class="center"><a class="waves-effect waves-light btn red lighten-1 modal-close">Close</a></div>
    	</div>
	{{/if}}
    {{> footer}}
{{> endfile}}