{{> startfile}}
    {{> header}}
    <br>
    <br>
    <br>
    <br>
    <br> 
    {{#if user}}
        {{#if message }}
            <div class="alert alert-info">{{ message }}</div>
        {{/if }}
        <form class="form-signin" method="post" action="/update_user" id="form-signin">
            <label>Name</label>
            <input type="text" name="name" value={{ user.name }}>

            <label>Your email:</label>
            <lable>{{ user.email }}</lable>
            <label>Name</label>

            <button type="submit">Update</button>
        </form>

        <div><p>Your creators:</p></div>
        {{#creators.creators}}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{img_src}}" alt="">
                    <div class="caption">
                        <h3>{{name}}</h3>
                        <p>{{description}}</p>
                        <p>
                            <a href="creators/{{id}}" class="btn btn-primary" role="button">Creator page</a>
                        </p>
                    </div>
                </div>
            </div>
        {{/creators.creators}}

        <div><p>Your categories:</p></div>
        {{#categories.categories}}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{img_src}}" alt="">
                    <div class="caption">
                        <h3>{{name}}</h3>
                        <p>{{description}}</p>
                        <p>
                            <a href="categories/{{id}}" class="btn btn-primary" role="button">Visit Category Page</a>
                        </p>
                    </div>
                </div>
            </div>
        {{/categories.categories}}

    {{/if}} 
    {{> footer}}
{{> endfile}}