<style>
    .selected {
    	border: 2px solid #ef5350;
    }
	[type="checkbox"].filled-in:checked + span:not(.lever)::after {
		background-color: #ef5350 !important;
		border: #ef5350 !important;
	}
    .check {
		position: relative;
		top: 35px;
		z-index: 5;
		right: 5px;
    }
    .check-box {
		margin-left: 10px;
		margin-top: 5px;
	}
	.bordered-box {
		border: .5px solid grey !important;
	    border-radius: 2px !important;
	}
	#notSelectedCard .card {
		cursor: pointer;
	}
</style>
<script>
	function updateSelectedPackage(obj) {
		if (selectedValue!=undefined) {
			var currPackage = document.getElementById('card'+selectedValue);
			currPackage.classList.remove('selected');
			document.getElementById('notSelectedCard').appendChild(currPackage);
		} else {
			document.getElementById('card-1').style.display='none';
		}
	
	
		document.getElementById('selectedCard').appendChild(obj);
		obj.className += ' selected';
		selectedValue=Number(obj.id.replace('card',''));
	}
	function removeSelectedPackage() {
		if (selectedValue!=null) {
			document.getElementById('notSelectedCard').appendChild(document.getElementById('card'+selectedValue));
			document.getElementById('card'+selectedValue).classList.remove('selected');
		}
	}
	function claimReward() {
		var selected = document.getElementById('card'+selectedValue);
		var data = {};
		data.reward_id = selected.dataset.rewardid;
		data.reward_amount = selected.dataset.rewardamount;
		data.user_email = "{{user.email}}";
		data.creator_id = "{{data.id}}"
		getReq('/payment_completed', data);
	}
</script>
<div class="container">
	<div class="section row">
		<div class="modal-close btn-flat left" onClick="removeSelectedPackage()">
			<i class="fa fa-times-circle"></i>
			<span>Close</span>
		</div>
		<div class="right rtl">
			<h4>Sponser "Page Name"</h4>
			<h6 class="right rtl">Message goes here</h6>
		</div>
	</div>
    <div class="divider"></div>
    <div class="section row">
    	<div class="col s4">
    		<div>
    			<div class="row">
    				<h6 class="right">{{data.name}}</h6>
    			</div>
    			<div>
    				<img src={{data.profile}}>
    			</div>
    			<div class="row">
    				<h6 class="right">Page Name Goes In This Space</h6>
    			</div>
    		</div>
    		<div class="divider"></div>
    		<div class="row">
    			<h6 class="right">Your Choosen Sponsorship Package</h6>
    		</div>
    		<div id="selectedCard">
    			<div class="text-align-right check">
    				<i class="material-icons text-style" id="checkmark">check_circle</i>
    			</div>
    			
    			<div class="card" id='card-1'>
			        <div class="card-content">
			        	<div class="section">
				        	<h6 class="center">No Package Selected</h6>
				        </div>
			        </div>
			    </div>
				
		    </div>
			<div class="divider"></div>
			<div class="row">
    			<h6 class="right">Other Sponsorship Packages</h6>
    		</div>
    		<div id="notSelectedCard">
				{{#each data.rewards}}
					<div class="card" id='card{{@index}}' data-rewardid='{{this.reward_id}}' data-rewardamount='{{this.price}}' onClick="updateSelectedPackage(this)">
				        <div class="card-content">
				        	<div class="section">
					        	<h6 class="left">{{this.price}}</h6>
					        	<h6 class="right">{{this.title}}</h6>
					        </div>
					        <div class="section">
					        	<div class="card-image">
						        	<img src={{this.img}}>
						        </div>
						        <br>
						        <p class="rtl">{{this.description}}</p>
					        </div>
				        </div>
				    </div>
				{{/each}}
			</div>
		</div>
		<div class="col s6 right bordered-box">
			<div class="section">
				<div class="row">
	            	<h6 class="col s4 offset-s8">Payment Details</h6>
				</div>
	            <div class="row">
	            	<div class="col s4 offset-s8">
	            		<button class="btn white black-text wide waves-effect" onClick="claimReward()">
		        			Pay With PayPal
		        		</button>
	            	</div>
		        </div>
		    </div>
		    <div class="section right">
		    	<p class="vertical-align">
			    	<span>I want the amount I donated to remain anonymous</span>
			    	<label class="check-box">
				        <input type="checkbox" class="filled-in" />
				        <span></span>
				    </label>
				</p>
		    </div>
		</div>
    </div>
</div>