<style>
    .text-style {
        color: #ef5350;
    }
    .card-size {
    	width: 30%;
    }
</style>
<div>
	<a class="modal-close btn-flat right"><i class="material-icons">close</i></a>
    <br>
    <div class="container row">

{{#each data.rewards}}
    <div class="card card-size collapsible" id="card{{@index}}">
        <div class="card-content">
        	<span class="card-title">
				<label>
					<input type="checkbox" class="filled-in" />
					<span><h6 class="right">{{this.title}}</h6></span>
				</label>
				<i class="material-icons right activator" onClick="document.getElementById('card{{@index}}').style.height = '75%';">more_vert</i>
			</span>
	    </div>
	    <div class="card-reveal">
	    	<span class="card-title"><i class="material-icons right" onClick="document.getElementById('card{{@index}}').style.height = 'auto'">close</i></span>
        	<div class="section">
	        	<h6 class="left">{{this.price}}</h6>
	        	<h6 class="right">{{this.title}}</h6>
	        </div>
	        <div class="section">
	        	<div class="card-image">
		        	<img src={{this.img}}>
		        </div>
		        <br>
		        <p class="rtl">{{this.description}}</p>
	        </div>
        </div>
    </div>
{{/each}}

    </div>
</div>