<style>
    .card-end {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .align-middle {
        margin-top: 10%;
    }
    .avatar {
        position: relative;
        margin-right: 5%;
        margin-top: -10%;
        width: 60px !important;
        height: 60px !important;
    }
    .artist.chip {
        position: relative;
        margin-top: -15%;
        margin-left: 5%;
        text-align: left !important;
    }
    .card-text {
        font-size: 90%;
    }
    .creator-descrip {
        visibility: hidden;
        display: none;
    }
    .description {
        color: #9e9e9e;
        font-size: 75%;
    }
</style>
<a href="/creators/{{username}}">
    <div class="card" style="cursor: pointer;">
        <div class="card-image">
            <img src="../card-image.jpeg">
        </div>
        <div class="red lighten-2 white-text artist chip left">Artist</div>
            <a><img class="circle avatar right" src="../people_9.jpeg"></a>
        <div class="card-content">
            <div class="section" style="text-align: right;">
                <p class="rtl"><span class="text-style">{{name}}</span> - {{tagline}}</p>
            </div>
            <div class="section creator-descrip" style="text-align: right;">
                <p class="description">{{description}}</p>
            </div>
            <div class="divider"></div>
            <div class="section row card-end">
                <span class="col s6">
                    <div class="left text-align-right">
                        <p class="card-text">{{sponsors}}</p>
                        <p class="card-text">Supporters</p>
                    </div>
                    <i class="material-icons right text-style align-middle">group</i>
                </span>
                <span class="col s6 vertical-align">
                    <div class="left text-align-right">
                        <p class="card-text">Monthly</p>
                        <p class="card-text">Target</p>
                    </div>
                    <div class="c100 p75 small right custom-color white">
                        <span>75%</span>
                        <div class="slice flip">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</a>