<style>
    .creators {
    	padding-left: 5%;
    }
    .subtitle {
    	color: #9e9e9e;
    	font-size: 90%;
    }
    .widen {
    	width: 200px;
    }
</style>
<script>
	function unclaimReward(btn) {
		var data = {};
		data.user_email = '{{user.email}}'
		data.reward_id = btn.dataset.reward_id;
		data.creator_username = btn.dataset.creator_username;
		data.amount = btn.dataset.amount;
		var index = btn.parentNode.parentNode.parentNode.rowIndex;
		getReq('/unclaim_reward', data);
		document.getElementById("sponserTable").deleteRow(index); 
	}
</script>
<div class="card col s12 right">
    <div class="card-content">
		<table id="sponserTable">
	        <thead>
	          	<tr>
	          		<th></th>
	              	<th class="text-align-right grey-text">Reward</th>
	              	<th class="text-align-right grey-text">Package</th>
	              	<th class="text-align-right grey-text">Creator</th>
	          	</tr>
	        </thead>
	        <tbody>
				{{#each rewards}}
				  	<tr>
				  		<td>
				  			<div class="row">
				      			<button
				      				class="btn-flat waves-effect"
				      				onclick="unclaimReward(this)"
				      				data-reward_id={{this.id}}
				      				data-amount={{this.amount}}
				      				data-creator_username={{this.creator_username}}
				      			>
						        	<span class="text-style">Cancel</span>
						        </button>
						        <button class="btn-flat waves-effect">
						        	Edit
						        </button>
					        <div>
				  		</td>
				    	<td>
				    		<div class="text-align-right">
				    			Missing
				    		</div>
				    	<td>
				    		<div class="text-align-right">
								<p class="text-align-right">Sponser Package</p>
								<p class="text-align-right">${{this.amount}} Per Month</p>
							</div>
				    	</td>
				    	<td>
				    		<div class="section vertical-align right">
								<div class="left widen">
									<p class="text-align-right">{{this.creator_username}}</p>
									<p class="text-align-right subtitle">Tagline Missing</p>
								</div>
								<a class="creators"><img width="50" height="50" class="circle" src="../people_9.jpeg"></a>
							</div>
						</td>
				  	</tr>
				{{/each}}
	        </tbody>
	    </table>
    </div>
</div>